body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #7F3DFF;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
