body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #7F3DFF;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 0;
    padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

span {
    display: block;
    margin-top: 3px;
}

button {
    background-color: #6E3EC1;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #4D287A;
}