<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_page.css' %}">
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="content">
        <select id="dropdown">
            <option value="task1">Задание 1</option>
            <option value="task2">Задание 2</option>
            <option value="task3">Задание 3</option>
        </select>

        <textarea id="large-text-field" rows="6" cols="50">{{ task_text }}</textarea>

        <button id="clear-button">Стереть</button>
        <form id="generate" action="/create_task/" method="post">
            <button id="generate-button">Сгенерировать</button>
        </form>
        <button id="send-button">Отправить</button>
    </div>
</body>
<script>
    document.getElementById('clear-button').addEventListener('click', function() {
        document.getElementById('large-text-field').value = ''; // Очистить текстовое поле
    });
</script>
</html>