<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать задание</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/create_task.css' %}">
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="create-task-content">

        <div class="dropbox-textfield-group">
            <label class="select-task">
                <select id="task-dropbox">
                    <option value="task1">Задание 1</option>
                    <option value="task2">Задание 2</option>
                    <option value="task3">Задание 3</option>
                </select>
            </label>

            <label class="input-text-field">
                <textarea id="tasks-textarea" rows="8" cols="100">{{ task_text }}</textarea>
            </label>
        </div>

        <div class="buttons-group">
            <label class="clear-button">
                <button id="task-clear-button">Очистить</button>
            </label>

            <label class="generate-button">
                <form id="task-generate-form" action="/create_task/" method="post">
                    <button id="task-generate-button">Сгенерировать</button>
                </form>
            </label>

            <label class="add-button">
                <button id="task-add-button">Добавить</button>
            </label>
        </div>

    </div>

</body>
    <script>
        document.getElementById('task-clear-button').addEventListener('click', function() {
            document.getElementById('tasks-textarea').value = ''; // Очистить текстовое поле
        });
    </script>
</html>
