 <nav class="navbar">
        <a href="main_page.html">
            <img src="/static/img/Logo.png" alt="Logo" class="logo-link">
        </a>
      <ul>
        <li><a href="{% url 'main_page' %}">Главная</a></li>
        <li><a href="{% url 'train_variations' %}">Варианты</a></li>
        <li><a href="{% url 'materials' %}">Материалы</a></li>
        <li><a href="{% url 'forum' %}">Форум</a></li>
        <li><a href="{% url 'search' %}">Поиск</a></li>
        <li><a href="{% url 'account' %}">Регистрация/Вход</a></li>
    </ul>
</nav>