 <nav class="navbar-content">
        <a href="{% url 'main_page' %}">
            <img src="/static/img/logo.png" alt="logo" class="logo-link">
        </a>
      <ul>
        <li><a href="{% url 'main_page' %}">Главная</a></li>
        <li><a href="{% url 'train_variations' %}">Варианты</a></li>
        <li><a href="{% url 'materials' %}">Материалы</a></li>
        <li><a href="{% url 'forum' %}">Форум</a></li>
        <li><a href="{% url 'search' %}">Поиск</a></li>
        <li><a href="{% url 'account' %}">Регистрация/Вход</a></li>
    </ul>
</nav>